.logo {
    height: 40px;
    
}
.heading {
    
    font-weight: bold;
}
.splash_page {
    background-color: white;
}

.content {
    background-color: #CCCCCC;
}
.bg_color {
    background-color: #C13832;
}
.img {
    height: 120px;
}